<div class="cmp-exercisethree" data-cmp-is="exercisethree">
    <form data-cmp-hook-exercisethree="form">
        <label class="cmp-exercisethree__input-label">${properties.inputLabel}
            <input type="text" class="cmp-exercisethree__input" data-cmp-hook-exercisethree="input" name="searchText" />
        </label>
        <input type="submit" class="cmp-exercisethree__submit-button" data-cmp-hook-exercisethree="submit" value="${properties.submitButton}">
    </form>
    <div class="cmp-exercisethree__output" data-cmp-hook-exercisethree="output"></div>
</div>
