scripts=["
    # https://experienceleague.adobe.com/en/docs/experience-manager-learn/cloud-service/developing/advanced/service-users
    create service user komatsutest-post-publish-service with forced path system/cq:services/komatsutest

    set principal ACL for komatsutest-post-publish-service
        allow jcr:read on /content/dam/komatsutest
        allow jcr:read on /content/experience-fragments/komatsutest
        allow jcr:read on /content/komatsutest
        allow jcr:write on /content/dam/komatsutest
        allow jcr:write on /content/experience-fragments/komatsutest
        allow jcr:write on /content/komatsutest
    end
"]